---
title: Start
---

<h3> Familie & Freizeit – Sammeln Sie erste Hochgefühle! </h3>

 <a class="thumbnail pull-left" href="images/background_photos/Bild_24.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_24.jpg" width="200px"/>
    </a>  
   <a class="thumbnail pull-right" href="images/background_photos/Bild_22.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_22.jpg" width="200px"/>
    </a>



<p>Magischer Zirkel und Silberner Pfad – hier können Familien mit Kindern und Einsteiger ihre ersten Hochseil-Erfahrungen sammeln. Kinder können zusammen mit einem Erwachsenen bereits ab 6 Jahren und einer Körpergröße von ca. 1,20 Meter bei uns klettern. Kinder bis 14 Jahren dürfen nur in Begleitung eines Erwachsenen die Parcours durchlaufen. Für Geburtstagspartys buchen Sie bei uns einen spannenden Nachmittag mit anschließendem Grillen an unserer Blockhütte. Schulen bieten wir ein komplettes erlebnispädagogisches Angebot mit Vor- und Nachbereitung in der Klassengemeinschaft.

</p>  
