---
title: Start
---

<h3>Sie bestimmen selbst, wie hoch Sie steigen.</h3>

 <a class="thumbnail pull-left" href="images/background_photos/Bild_42.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_42.jpg" width="250px"/>
    </a>  
   <a class="thumbnail pull-right" href="images/background_photos/Bild_04.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_04.jpg" width="250px"/>
    </a>

<p>Sie bestimmen selbst, wie hoch Sie steigen.
Starten Sie zur Mammut-Tour, klettern Sie in den Adlerhorst, wählen Sie den Silbernen Pfad, den Magischen Zirkel oder den Flying Circus!
Im „High Adventures“ bestimmen Sie selbst, wie weit und wie hoch Sie steigen. Familien mit Kindern, klettererfahrenen Sportlern, Gruppen und Firmen bieten wir – je nach Maß – Ihr Erlebnis der Superlative. 
</p>  

