---
title: Start
---

<h3>Blindtext</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_35.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_35.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_41.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_41.jpg" width="250px"/>
    </a>
 
   
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
 