---
title: Start
---

<h3>Firmen & Incentives – Hier finden Teams zusammen!</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_21.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_21.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_23.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_23.jpg" width="250px"/>
    </a>
 
	Ein Tag im Hochseilgarten „High Adventures“ verspricht jede Menge Spaß und Action und dazu viele neue, wertvolle Erfahrungen im Umgang mit Kollegen, Mitarbeitern oder Freunden. 
	Wir bieten gezieltes Managertraining sowie unvergessliche Firmen-Incentives und schulen die Teamfähigkeit Ihrer Mitarbeiter. 
    Mut, Selbstvertrauen, Flexibilität und Risikobereitschaft werden trainiert. Aber auch Kommunikation, gegenseitiges Vertrauen, lösungsorientiertes Denken und das Überwinden von inneren Grenzen.
 </p>

 