---
title: Start
---

<h3>Proficlimber – Nichts für schwache Nerven!</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_25.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_25.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_34.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_34.jpg" width="250px"/>
    </a>
 
   
    Flying Circus, Mammut-Tour, Adlerhorst – dies sind unsere drei Parcours für Klettererfahrene und Profis. Wer den Nervenkitzel liebt, begibt sich auf das Drahtseil in unserem ultimativen Geschicklichkeits-Parcours „Flying Circus“. Natürlich gut gesichert mit Gurt und Karabiner. Bei der Mammut-Tour sind Kraft und Ausdauer gefragt. Unseren Adlerhorst schaffen nur Proficlimber. Zehn sehr schwer zu kletternde Elemente in 15 Meter Höhe sind die Herausforderung. Der Zugang ist erst ab 16 Jahren erlaubt. </p>

 