---
title: Start
---

<h3>High Adventures – Hochspannung – Hochstimmung – Höhenflüge im Hochseilgarten im Hunsrück und Naheland</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_03.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_03.jpg" width="200px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_43.jpg" title="Bild 3">
        <img src="images/background_photos/Bild_43.jpg" width="200px"/>
    </a>
 
   
    Spannung, Nervenkitzel, ein ultimatives Outdoor-Erlebnis in schwindelnder Höhe erwartet Sie in unserem Hochseilgarten. Fünf Parcours mit unterschiedlichen Schwierigkeitsstufen sorgen für den jeweils richtigen Kick. In einer Höhe zwischen 8 und 15 Metern bewegen Sie sich von Baumkrone zu Baumkrone, von einer Plattform zur nächsten. Sie balancieren über Balken, Baumstämme, Taue und überwinden schwingende Seilkonstruktionen. Sie mobilisieren ungeahnte Kräfte. Erleben Sie die Welt aus der Vogelperspektive. Entdecken Sie sich selbst und vertrauen Sie auf Ihr Team. Unser Hochseilgarten ist Abenteuer pur. </p>

 