---
title: Start
---

<h3>Kontakt/Anfahrt</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_03.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_03.jpg" width="250px"/>
    </a>
   
 
   
    Freizeit- und Wintersportzentrum Peterberg
<p>Zum Wäldchen </p>
<p>66620 Braunshausen</p>
<p>Tel.:06873 / 911-43 </p>
<p>
Fax: 06873 / 911-53</p>

. </p>

 