---
title: Start
---

<h2>Gurke</h2>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_06.jpg" title="Ein willkürlich gewähltes Bild">
        <img src="images/background_photos/Bild_06.jpg" width="150px"/>
    </a>
   Preise
Erwachsene                                              18 EUR
Kinder von 6 bis 13 Jahre                                9 EUR
Jugendliche von 14 bis 18 Jahre                         14 EUR
Familie (2 Erwachsene und 2 Kinder oder Jugendliche)    49 EUR
Familie (2 Erwachsene und 3 Kinder oder Jugendliche)    56 EUR
Gruppe ab 10 Erwachsene,                             je 17 EUR
Gruppe ab 10 Kinder (Geburtstagskinder frei), je         7 EUR
Studenten                                               16 EUR
    
Öffnungszeiten
Vom 1. Mai bis 30. September: täglich von 10 bis 18 Uhr
Vom 1. Oktober bis 30. April: täglich von 10 bis 16 Uhr 
</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
    also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>