---
title: Start
---

<h3>Touren</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_31.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_31.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_19.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_19.jpg" width="250px"/>
    </a>
 
    Im Hochseilgarten „High Adventures“ bestimmen Sie selbst, wie weit und wie hoch Sie steigen. Wir bieten Ihnen – je nach Maß – Ihre Tour der Superlative.
</p>
<ul>
    <li>Magischer Zirkel</li>
    <li>Silberner Pfad</li>
    <li>Mammut Tour </li>
    <li>Adler Horst</li>
    <li>Flying Circus</li>
</ul>

 