---
title: Start
---

<h3>Mammut Tour</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_18.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_18.jpg" width="270px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_30.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_30.jpg" width="250px"/>
    </a>
 
	Mammut-Tour – für Fortgeschrittene. Beim Erklimmen der hohen Wipfel sind Kraft und Ausdauer gefragt. 
	
	<p>Stationen: Kletterwand, Himmelsstürmer, Baum-Kaskaden, Hexensprung, Netzbrücke, Wildwasserbrücke, Schwebebalken, Okerbrücke, Kreuzgang per Seil, Schwingende Reifen, Netz der Spinne</p>
 </p>

 