---
title: Start
---

<h3>Silberner Pfad</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_21.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_21.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_41.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_41.jpg" width="250px"/>
    </a>
 
   Silberner Pfad – für mutige Einsteiger und durchschnittlich Sportliche. Erklimmen Sie die Baumkronen und fühlen Sie sich wie Robin Hood.
   <p>
   	Stationen: Kletterstart, Tanzende Balken, Schlingergrad, Himmelsstürmer, Baum-Kaskaden, Teufelsschlucht, Wildwasserbrücke, Schwebebalken, Schlaufengasse, Back to earth</p>

  </p>

 