---
title: Start
---

<h3>Magischer Zirkel</h3>

<p>
    <a class="thumbnail pull-left" href="images/background_photos/Bild_06.jpg" title="Bild 1">
        <img src="images/background_photos/Bild_06.jpg" width="250px"/>
    </a>
     <a class="thumbnail pull-right" href="images/background_photos/Bild_12.jpg" title="Bild 2">
        <img src="images/background_photos/Bild_12.jpg" width="250px"/>
    </a>
 
   
   Magischer Zirkel – für Einsteiger, Familien und Kinder. Hier können Sie Ihre ersten Hochseil-Erfahrungen sammeln.
   <p>Stationen: Kletterstart, Tanzende Balken, Schlingergrad, Okerbrücke, Schlaufengasse, Back to earth</p>
 </p>

 